body {
  height: 100vh;
  background: linear-gradient(315deg, rgb(195, 55, 100) 0%, rgb(29, 38, 113) 100%);
  overflow-y: hidden;
}

h1 {
  margin: 20px 0;
}

.h3-element {
  padding: 0;
  margin: 0;
}

hr {
  color: #ffffff;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color: #c33764;
}

.btn:hover {
  background: #c33764;
  color: #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
